---
import BottomToTop from "../components/BottomToTopFadeAnimation.jsx";
---

<BottomToTop client:visible>
  <div
    class="w-full h-full flex flex-col items-center justify-center gap-5 mt-16">
    <div class="flex flex-col items-center justify-center w-[800px]">
      <img
        src="https://cdn.sanity.io/images/uqd2lu8b/production/921e30ae7bd161ccf70f47c61834878800ca7004-145x200.svg"
        alt="logo"
      />
      <h1 class="text-7xl text-green-800 text-center font-semibold">
        Welcome to the sporting hearth
      </h1>

      <h4 class="text-2xl text-slate-400 text-center font-semibold">
        óller Tennis Club is a wellness and lifestyle community for local
        neighbours, international friends and touring pros.
      </h4>
    </div>
    <div class="w-full flex items-center justify-center gap-16 mt-10">
      <img
        class="w-[650px] object-cover rounded-lg"
        src="https://www.sollertennisclub.com/_next/image?url=https%3A%2F%2Fcdn.sanity.io%2Fimages%2Fuqd2lu8b%2Fproduction%2F23ccb6076c85b9654a4c3faad98da80e26c5bfea-1200x901.jpg&w=1920&q=75"
        alt=""
      />
      <p class="w-96 text-xl text-green-900 opacity-80">
        A one-of-a-kind destination where tennis, padel and swimming are metres
        away from a relaxed restaurant and panoramic views across the UNESCO
        World Heritage Serra de Tramuntana.<br /><br/> Perched high between mountains
        and sea, our club overlooks the historic town of Sóller – highlighting one
        of the most beautiful courtside views anywhere in Europe.
      </p>
    </div>
  </div>
</BottomToTop>
